<!DOCTYPE html>
<html>
<head>
    <title>Rebooting...</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Rebooting...</h1>
        <img src="{{ url_for('static', filename='pepe.gif') }}" alt="Shutting Down" class="mt-4">
        <h1>Enjoy this little running pepe while the system is rebooting (͡ ° ͜ʖ ͡ °) </h1>
    </div>
</body>
</html>
