<!DOCTYPE html>
<html>
<head>
    <title>Imposta Password - NAS Casalingo</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Il tuo CSS personalizzato -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h1>Imposta la tua password</h1>
        <form method="post">
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success">Imposta Password</button>
        </form>
    </div>
</body>
</html>
 