<!DOCTYPE html>
<html>
<head>
    <title>Shutting Down...</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Shutting Down...</h1>
        <img src="{{ url_for('static', filename='pepe.gif') }}" alt="Shutting Down" class="mt-4">
    </div>
</body>
</html>
